# Ignore Texmaker files
*.aux
*.hst
*.lof
*.log
*.lot
*.synctex.gz
*.toc
*.ver
*.dvi
*.bbl
*.blg
*.acn
*.acr
*.alg
*.ist
*.glsdefs

main.pdf

# Ignore DS_Store and files starting with ._ (for Mac)
.DS_Store
._*